.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prewiev-textarea{
    margin-top: 3rem;
    width: 60%;
}

#editor-textarea{
    width: 60%;
    margin-top: 3rem;
}